{% extends "wrapper.html" %}

{% block title %}
Data sets
{% endblock %}

{% block content %}



<form id="form-container" method="post">

        {% csrf_token %}

        <label for="schema-rows">Rows: </label>
        <input id="schema-rows" type="text" name="schema-rows">

        <button class="btn btn-primary" id="start-job" type="submit">Generate</button>

</form>

<h1 class="content-title">Data sets</h1>
    {% for object in object_list %}
        <p>{{object}}</p>
    {% endfor %}

{% endblock %}